body{
    margin: 0px;
    background-color: black;
    /* overflow-y: scroll; */
}
a{
    color:white;
    /* text-decoration: none; */
}
a:visited{
    color:white;
}
.page-wrap{
    position:fixed;
    top:0;
    left:0;
    /* display:flex;
    flex-direction: column; */
    height: 100%;
    padding-left:10px;
    margin:0px;
    border-left: 4px;
    border-color: white;
    border-style: solid;
    overflow-y: scroll;
}
#viz{
    /* position: absolute;
    top: 0;
    left: 0; */
    overflow-y: hidden;
}
#vizFull{
    height:100%;
    /* overflow-y: hidden; */
}
.title{
    display: inline;
    /* position: absolute;
    top: 0;
    left: 0; */
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    font-size: 1em;
    margin:0px;
    /* line-height: 1em; */
    color: lightcoral;
}
.subtitle{
    /* display: inline; */
    /* position: absolute;
    top: 0;
    left: 0; */
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    font-size: 1em;
    /* line-height: 1.25em; */
    color: lightcoral;
    margin:0px;
    /* padding-left:10px; */
}
.time{
    display: inline;
    /* position: absolute;
    top: 0;
    left: 0; */
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    font-size: 1em;
    /* line-height: 1em; */
    color: lightcoral;
    margin:0px;
}
.nav{
    background: black;
    display:grid;
    grid-template-columns: 40% 50% 10%;
    /* display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    flex-wrap: wrap; */
    position: fixed;
    top:0;
    width: 100%;
    margin:0px;
    margin-left:14px;
    border-left: 0px;
    border-top: 0px;
    border-right: 0px;
    border-bottom: 4px;
    border-color: white;
    border-style: solid;
    /* margin-right:50px; */
    /* pointer-events: none; */
}
.container{
    /* position: absolute;
    top:0; */
    /* margin-bottom:0; */
    /* height: 100%; */
    width: 100vw;
    margin-left:0px;
    /* pointer-events: none; */
    /* overflow-y: scroll; */
    background:black;
}
.content{
    /* display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:flex-start;
    align-items:flex-start; */
    display:grid;
    grid-template-columns: 40% 40% 20%;
    margin:0px;
    margin-right:14px;
}
.heroContent{
    /* display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:flex-start;
    align-items:flex-start; */
    display:grid;
    grid-template-columns: 40% 60%;
    height:100%;
    margin:0px;
    overflow-y: visible;
}
.navItem1{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left:10px;
    margin-right:10px;
    background:black;
    margin-left:0px;
    /* min-width: 800px; */
}
.navItem2{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* margin-left:10px;
    margin-right:10px; */
    background:black;
    
    /* min-width: 800px; */
}
.navItem3{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* margin-left:10px;
    margin-right:10px; */
    background:black;
   
    /* min-width: 800px; */
}
.hero-viz{
    height:100%;
    overflow-y: hidden;
    /* overflow-y: scroll; */
}
.item1{
    /* display: flex;
    flex-direction: column;
    flex-wrap: wrap; */
    width:100%;
    height:50vh;
    margin:0px;
    background:black;
    border-left: 0px;
    border-top: 0px;
    border-right: 0px;
    border-bottom: 4px;
    border-color: white;
    border-style: solid;
    overflow-y: hidden;
}

.item2{
    display: flex;
    width:50%;
}

.legend{
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    font-size: 1em;
    /* display:flex;
    flex-direction: row; */
    /* flex-wrap: wrap; */
    /* padding-left: 25px; */
    background: none;
    color: white;
    height:auto;
    width:100%;
    padding:0px;
    margin: 0px;
    border-left-width: 0px;
    border-top: 4px;
    border-right: 0px;
    border-bottom: 0px;
    border-color: white;
    border-style: solid;
} 
.textHead{
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    font-size: 4em;
    line-height: 1.5em;
    color: lightcoral;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    text-decoration: underline;
    /* width:40%; */
}
.text{
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    font-size: 2em;
    line-height: 2em;
    grid-column-start: 2;
    grid-column-end: 4;
    color: white;
    margin-top: 0px;
    margin-left: 4px;
    margin-right: 14px;
    /* width:60%; */
}
.gitHub{
    font-family: cursive;
    font-weight: 400;
    font-size: 1em;
    text-align: right;
    /* line-height: 2em; */
    color: white;
    height:25px;
    margin:0px;
    padding-left: 0px;
    padding-right: 14px;
    padding-top:0px;
    padding-bottom: 0px;
    text-decoration: none;
    
}
.gitHub:hover{
    font-family:'DM Sans', sans-serif;
    font-weight: 400;
    font-size: 1em;
    text-align: right;
    /* line-height: 2em; */
    color: lightcoral;
    margin:0px;
    padding-left: 0px;
    padding-right: 14px;
    padding-top:0px;
    padding-bottom: 0px;
    text-decoration: none;
    
}
.years{
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    font-size: 1em;
    line-height: 2em;
    color: white;
}
.legendText{
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    font-size: 1em;
    /* text-align: right; */
    /* line-height: 2em; */
    width:100%;
    color: white;
    /* background-color: lightcoral; */
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom:0px;
    /* float:right; */
}
.sourceText{
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    /* font-size: 2em; */
    line-height: 2em;
    color: white;
    margin-left: 0px;
    margin-right: 0px;
}
.source{
    display: inline;
    font-family: cursive;
    
    font-weight: 400;
    font-size: 2em;
    /* line-height: 2em; */
    color: white;
    margin: 0px;
    height:40px;
    text-decoration: none;
    /* width:100%; */
}
.source:hover{
    /* display: inline; */
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    font-size: 2em;
    /* line-height: none; */
    color: lightcoral;
    margin: 0px;
    
    /* width:100%; */
}
.vignette{
    fill: url(#grad1);
    position: absolute;
    top: 0px;
    left: 0;
}
div.tooltip {
    display: inline;
    font-size: 1em;
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    position: absolute;
    text-align: left;
    width: 100%;
    /* height: 15px; */
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    margin:0px;
    background: lightcoral;
    border-top: 2px solid white;
    /* border-bottom: 2px solid white; */
    /* border-radius: 18px; */
    pointer-events: none;
  }
  .svg-container {
    display: inline-block;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    vertical-align: top;
    overflow: hidden;
  }
  .svg-container2 {
    display: inline-block;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    vertical-align: top;
    overflow: hidden;
  }
  .svg-content-responsive {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
  }
  .svgFull-container {
    display: inline-block;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height:auto;
    padding-bottom: 100%;
    vertical-align: top;
    overflow: visible;
  }
  .svgFull-content-responsive {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    margin-right:14px;
    /* overflow: hidden; */
  }
  .svgScale-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height:100%;
    padding:0px;
    /* padding-bottom: 100%; */
    vertical-align:middle;
    overflow: hidden;
  }
  .svgScale-content-responsive {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    position: absolute;
    top: 0;
    left: 0;
    /* margin-top:50%;
    margin-bottom:50%; */
    width: 100vw;
    /* overflow: hidden; */
  }
  #scale{
      /* height:50px; */
      width:40%;
  }
  footer{
    font-size: 2em;
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    color:white;
    float:right;
    position:relative;
    bottom:0;
    right:0;
    margin-right:14px;
  }
  footer:hover{
    font-size: 2em;
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    color:lightcoral;
    float:right;
  }
  .emphasis{
    display: inline-block;
      font-family: 'DM Sans', sans-serif;
      /* font-style: italic; */
      font-size: 1em;
      text-decoration: underline;
      color: lightcoral;
      /* -webkit-text-stroke:lightcoral;
      -webkit-text-stroke-width: .25px;
      margin-right:-50px;
      /* -webkit-text-stroke-color: white;
      -webkit-text-stroke-width: .5px; */
  }
  .twentyTen{
    display: inline;
    font-family: 'DM Sans', sans-serif;
    color: lightcoral;
    font-size: 2em;
    margin:0px;
    margin-left:4px;
}
.twentyTwenty{
    display: inline;
    font-family: 'DM Sans', sans-serif;
    color: lightcoral;
    font-size: 2em;
    text-align: right;
    margin:0px;
}
.left-wrap{
    display:flex;
    flex-direction: column;
    height:auto;
    width:100%;
}
@media only screen and (max-width: 768px){
    .textHead{
        font-family: 'DM Sans', sans-serif;
        font-weight: 700;
        font-size: 3em;
        line-height: 1.5em;
        color: lightcoral;
        margin-top: 0px;
        margin-left: 0px;
        margin-right: 0px;
        text-decoration: underline;
        /* width:40%; */
    }  
}
@media only screen and (max-width: 600px){
    .page-wrap{
        position:fixed;
        top:0;
        left:0;
        /* display:flex;
        flex-direction: column; */
        height: 100%;
        padding-left:10px;
        margin:0px;
        border-left: 2px;
        border-color: white;
        border-style: solid;
        overflow-y: scroll;
    }
    .nav{
        background: black;
        display:flex;
        flex-wrap: wrap;
       
        /* display: flex;
        flex-direction: row;
        justify-content:space-between;
        align-items: center;
        flex-wrap: wrap; */
        position: fixed;
        top:0;
        width: 40%;
        margin:0px;
        margin-left:12px;
        border-left: 0px;
        border-top: 0px;
        border-right: 0px;
        border-bottom: 2px;
        border-color: white;
        border-style: solid;
        /* margin-right:50px; */
        /* pointer-events: none; */
    }
    .navItem1{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin-left:10px;
        margin-right:10px;
        background:black;
        margin-left:0px;
        /* min-width: 800px; */
    }
    .navItem2{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        /* margin-left:10px;
        margin-right:10px; */
        background:black;
        
        /* min-width: 800px; */
    }
    .navItem3{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        /* margin-left:10px;
        margin-right:10px; */
        background:black;
    
        /* min-width: 800px; */
    }
    .subtitle{
        /* display: inline; */
        /* position: absolute;
        top: 0;
        left: 0; */
        font-family: 'DM Sans', sans-serif;
        font-weight: 400;
        font-size: 1em;
        /* line-height: 1.25em; */
        color: lightcoral;
        margin:0px;
        margin-bottom:10px;
        padding-left:0px;
    }
    .item1{
        /* display: flex;
        flex-direction: column;
        flex-wrap: wrap; */
        width:100%;
        height:50vh;
        margin:0px;
        background:black;
        border-left: 0px;
        border-top: 0px;
        border-right: 0px;
        border-bottom: 2px;
        border-color: white;
        border-style: solid;
        overflow-y: hidden;
    }

    .textHead{
        font-family: 'DM Sans', sans-serif;
        font-weight: 700;
        font-size: 1.25em;
        line-height: 1.5em;
        color: lightcoral;
        margin-top: 10px;
        margin-left: 0px;
        margin-right: 0px;
        text-decoration: underline;
        /* width:40%; */
    }
    .text{
        font-family: 'DM Sans', sans-serif;
        font-weight: 400;
        font-size: 1em;
        line-height: 2em;
        grid-column-start: 2;
        grid-column-end: 4;
        color: white;
        margin-top: 10px;
        margin-left: 7px;
        margin-right: 14px;
        /* width:60%; */
    }
    .legend{
        font-family: 'DM Sans', sans-serif;
        font-weight: 400;
        font-size: 1em;
        /* display:flex;
        flex-direction: row; */
        /* flex-wrap: wrap; */
        /* padding-left: 25px; */
        background: none;
        color: white;
        height:auto;
        width:100%;
        padding:0px;
        padding-top:10px;
        margin: 0px;
        border-left-width: 0px;
        border-top: 2px;
        border-right: 0px;
        border-bottom: 0px;
        border-color: white;
        border-style: solid;
    } 
    .legendText{
        font-family: 'DM Sans', sans-serif;
        font-weight: 400;
        font-size: 1em;
        /* text-align: right; */
        line-height: 1.5em;
        width:100%;
        color: white;
        /* background-color: lightcoral; */
        margin-top: 0px;
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom:10px;
        /* float:right; */
    }
    .twentyTen{
        display: inline;
        font-family: 'DM Sans', sans-serif;
        color: lightcoral;
        font-size: 1em;
        margin:0px;
        margin-left:7px;
    }
    .twentyTwenty{
        display: inline;
        font-family: 'DM Sans', sans-serif;
        color: lightcoral;
        font-size: 1em;
        text-align: right;
        margin:0px;
        padding-left:0px;
    }
    .source{
        display: inline;
        font-family: cursive;
        
        font-weight: 400;
        font-size: 1em;
        /* line-height: 2em; */
        color: white;
        margin: 0px;
        height:20px;
        text-decoration: none;
        /* width:100%; */
    }
    .source:hover{
        display: inline;
        font-family: cursive;
        
        font-weight: 400;
        font-size: 1em;
        /* line-height: 2em; */
        color: white;
        margin: 0px;
        height:20px;
        text-decoration: none;
        /* width:100%; */
    }
    .content{
        /* display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content:flex-start;
        align-items:flex-start; */
        display:grid;
        grid-template-columns: 40% 40% 20%;
        margin:0px;
        margin-right:14px;
    }
}